In [0]:
from pyspark.sql.functions import when, col, expr

In [0]:
# Sample data
data = [
    (1, "Alice", "HR", 30000),
    (2, "Bob", "IT", 60000),
    (3, "Charlie", "Finance", 50000),
    (4, "David", "IT", 45000),
    (5, "Eve", "HR", 32000)
]

# Columns
columns = ['id', 'name', 'department', 'salary']

df = spark.createDataFrame(data, columns)
df.printSchema()
df.show()

In [0]:
# Using withColumn Function
df1 = df.withColumn("bonus", when(df.department == "IT", df.salary*0.1).when(df.department == "HR", df.salary*0.08).otherwise(df.salary*0.05))

display(df1)

In [0]:
# Using select Function
df2 = df.select(col('*'), when(df.department == "IT", df.salary*0.1)
                .when(df.department == "HR", df.salary*0.08)
                .otherwise(df.salary*0.05).alias("bonus"))
display(df2)

In [0]:
# Using SQL CASE WHEN using withColumn
df3 = df.withColumn('bonus', expr("""CASE WHEN department = 'IT' THEN salary*0.1 
                                          WHEN department = 'HR' THEN salary*0.08 
                                          ELSE salary*0.05 END"""))
display(df3)

In [0]:
## Using SQL CASE WHEN using select
df4 = df.select(col("*"), expr("""CASE WHEN department = 'HR' THEN salary*0.08
                                       WHEN department = 'IT' THEN salary*0.1
                                       ELSE salary*0.05 END""").alias("bonus"))
display(df4)

In [0]:
## Create the TEMP View and use SQL command
df.createOrReplaceTempView("vWemployee")

In [0]:
# %sql
# select *, case when a.department = "IT" then salary*0.1
# when a.department = "HR" then salary*0.08
# else salary*0.05 end as bonus
# from vWemployee a


df5 = spark.sql("""select *, case when a.department = 'IT' then salary*0.1
when a.department = 'HR' then salary*0.08
else salary*0.05 end as bonus
from vWemployee a""")

df5.show()